@import url("fonts/stylesheet.css");
*{
    margin: 0;
    padding: 0;
}
.B{
    width: 100%;
    height: 80px;
    align-items: center;
    display: flex;
    position: fixed;
    transition: transform  0.3s;
    transform: translateY(0);
    background-color:black;
    opacity: 0.8;
}
.B.--hidden {
    transition: transform  0.3s;
    transform: translateY(-100%);

    
}
.bar{
    width: 100%;
    height: 80px;
    align-items: center;
    display: flex;
    position: fixed;
    z-index: 1;

}
.logo{
    height: 25px;
    display: inline-block;
    align-items: center;
    position:fixed;
    top: 25px;
    left: 50px;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.boton-C{
    position: fixed;
    right: 20px;
    top: 10px
}
.boton-C .barboton{
    margin: 35px;
    margin-top: 10px;
    margin-right: 120px;
    border-radius: 40px;
    border: transparent;
    font-size: 27px;
    font-weight: 100;
    font-family: 'DunbarTall',sans-serif;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    color: silver;
}
.boton-C .barboton:hover{
    color: #A60149;
}
.footer{
    position:absolute;
    width: 100%;
    height: 110px;
    background-color: #121619;
    display: flex;
    flex-direction: column;
    flex-direction: row;
}
.fa-brands {
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
    margin-top: 50px;
    
  }
i:hover{
    color: #85014C !important;
}
.footer-img{
    height: 25px;
    width: 25px;
    position: absolute;
    right: 20px;
    margin-top: 15px;
}
.footer-text{
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: silver;
    box-sizing:border-box;
    font-family: 'DunbarLow Book';
}
.footer h2{
    font-family: 'DunbarLow Book';
}
h2{
    color: white;
    font-family:'Bebas Neue',sans-serif;
    position :absolute;
    left: 5px;
}
@media only screen and (max-width: 1100px) {
    .reordre{
        display: inherit;
    }
    .barboton{
        display: none;
    }

}
.reordre{
    position:fixed;
    right: 10px;
    top: 10px;


}
@media only screen and (min-width: 1100px) {
    .reordre{
        display: none;
    }

}
.loader{
    width: 100vw;
    height: 100vh;
    background: black ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: opacity 0.7s, visibility 0.7s;
    position: fixed;
    z-index: 2;
}
.logos{
    width:100%;
    height:100%;
}

.logos:hover{
    cursor:grab;
}
.loaderC{
    width: 95px;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: load 2s ease-in  infinite  ;
    border-radius: 50%;
    }
.loader--hidden {
    opacity: 0;
    visibility: hidden;
    z-index: -10;
}
@keyframes load {
    0%{box-shadow: 0 0 10px white,0 0 10px white;
        }

    50%{
        opacity: 0.5;
    }

    100%{
        box-shadow: 0 0 10px white,0 0 10px white;
    }
}
.Home .videoC {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.Home .V{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 135%;
    width: auto;
    height: auto;
    z-index: -1; 

}
.color{
    width: 100%;
    height:800px;
    color:yellow;
}
.madani{
    box-sizing: border-box;
    font-family: sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90vh;
	overflow: hidden;
	margin: 0;
	background-color:#A60149;
}
.container{
	display: flex;
	width: 90vw;
}
.panel{
	background-size: auto 100%;
	background-position :center;
	background-repeat: no-repeat;
	height: 86vh;
	border-radius: 50px;
	cursor: pointer;
	color: #fff;
	flex: 0.5;
	margin: 10PX;
	position: relative;
	transition: flex 0.3s ease-in;
	-webkit-transition: all 300ms ease-in;
	border: 2px solid white;
	overflow: hidden;
}
.panel .paneltext{
	font-size: 24px;
	bottom: 0;
	margin: 0;
	right: 0;
	position: absolute;
	opacity: 0;
	color: rgba(0, 0, 0, 0.956);
}
.panel.active .paneltext strong{
	position: relative;
	top:30% ;
	left: 20% ;
}
.paneltext{
	width: 50%;
	height: 10%;
	background-color: white;
	border-top-left-radius: 50%;
}
.panel.active .paneltext{
	opacity: 0.5 !important;
}
.panel.active{
	flex: 2;
}
.panel.active .paneltext{
	opacity: 1;
	transition: opacity 0.3s ease-in 0.4s;
}
.text h1{
	color: white;
    font-family: 'DunbarTall ExBold';
    font-weight: 800;
    font-size: 30px;
}
.stat{
	width: 100%;
	height: 70vh;
	background-color: white;
    overflow: hidden;

}
.text1{
	width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    cursor:default;
    margin-top: 20px;
    margin-bottom: 20px;
}
.t{
    opacity: 0;
    font-size: 35px;
    font-family: 'DunbarTall',sans-serif;
    font-weight: bold;
}
.text1.animate .t{
    animation: anim 0.3s forwards;
    animation-delay: calc(var(--i)* 0.06s) ;
}
@keyframes anim {
    0%{opacity: 0;
      transform: translateY(25px);
    }
    85%{
      opacity: 0.6;
      transform:translateY(-5px);
    }
    100%{
      opacity: 1;
      transform: none;
    }
    
}
.text2 {
	text-align: center;
	width: 80%;
    margin-left: 10%;
	font-weight: 500;
	font-size: 17px;
	padding-top: 20px;
	padding-bottom: 20px;
    opacity: 0;
    font-family:"DunbarTall Book",sans-serif;
    font-size: 17px;
}
.text2.animate {
    animation: anima 1.6s forwards;
}
@keyframes anima {
    0%{opacity: 0;
      transform: translateY(10px);
    }
    85%{
      opacity: 0.3;
      transform:translateY(10px);
    }
    95%{opacity: 0.5;
        transform: translateY(-5px);}
    100%{
      opacity: 1;
      transform: none;}
}
.botona{
	align-items: center;
	display:flex;
	justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.botona1 {
	font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.7px;
    background-color: #B1314D;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color:#B1314D;
    border-radius: 50px 50px 50px 50px;
    padding: 17px 34px 17px 34px;
	margin: 10px;
	transform: translateX(-500%);
	filter: blur(2px);
    color: white;
  }
.botona.animate .botona1{
	transition: transform 3s , filter 3s ;
	transform: translateX(0);
	filter: blur(0);
}
.botona1:hover {
	background-color: rgba(26, 34, 34, 0);
    color: #B1314D ;
  }
.botona2{
	font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.7px;
    background-color: rgba(255,255,255,0);
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: #990148;
    border-radius: 50px 50px 50px 50px;
    padding: 17px 45px 17px 45px;
	margin: 10px;
	transform: translateX(+350%);
	filter: blur(2px);
    color: #990148;
}
.botona.animate .botona2{
    transition: transform 3s,filter 3s;
    transform: translateX(0);filter: blur(0);}
.botona2:hover{
	color: white;
    background-color: #990148;
}
.statis{
	display:flex;
	justify-content: center;
	padding-bottom: 20px;
    margin-top: 0 !important;
}
.statist{
	width: 8rem;
	margin: auto;
	font-family:"dunbartall ultra";
	opacity: 0;
    margin-top: 40px !important;
	transform: translateY(100px);
	transition: all 3s;
}
.statist.animate{
	opacity: 1;
	transform: translateY(0);
}
.statist:nth-child(2){
    transition-delay: 400ms;
}
.statist:nth-child(3){
     transition-delay: 800ms; 
}
.statist:nth-child(4){
    transition-delay: 1200ms;   
}
.statist:nth-child(5){
    transition-delay: 1600ms; 
}

.st{
	text-align: left;
	font-weight: bolder;
	font-size: xx-large;
}
.stadd{
	color: gray;
    font-family: 'DunbarTall Hairline',sans-serif;
    font-size: 25px;
}
.text-container {
    width: 30%;
    height: 35%;
    margin-top: 30vh;
    margin-bottom: 20vh;
    background-color: #f0f0f005;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.text-container p {
    color: rgb(255, 255, 255);
    text-align: left;
    font-family: 'DunbarTall';
    font-weight: 300;
    
}
.text-container h1 {
    color: rgb(255, 255, 255);
    text-align: left;
    padding-top: 10px;
    font-family: 'DunbarTall ExBold';
    font-weight: 800;
}
.text-container2 {
    height: 18%;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    min-width:200px;
}
.icon-home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.paragraph3{
    margin-top: -80px;
    font-family: 'DunbarLow Book';
    font-weight: 600;
}
.icona{
    width: 40px;
    height: 40px;
    margin-left: 50px;
    margin-bottom: 20px;
    border-radius: 50%;
    
}
.icona img:hover{
    cursor: pointer;}





